__pycache__/
.venv/
.vscode/
amo/
bitrix/
uis/
telegram/
project-poetry/
UGRADE/
common_links
payapp
test_skripts.py
tests.py
configs.py
app.py
error_sender.py
test.js
test1.html
algos_struct_practice/